In [1]:
from pyspark.sql import SQLContext
from pyspark.sql import functions as F

In [2]:
sqlContext = SQLContext(sc)

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [3]:
applications_path = 'application_data.csv'
applications_dataframe = sqlContext.read.load(applications_path,format='com.databricks.spark.csv',header='true',inferschema='true').persist()

In [4]:
applications_dataframe.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- LEVEL: string (nullable = true)
 |-- LANG: string (nullable = true)
 |-- TWEETS: string (nullable = true)
 |-- PHD: string (nullable = true)
 |-- SALARY: double (nullable = true)
 |-- HIRE: boolean (nullable = true)

In [5]:
applications_dataframe.show(1)

+---+------+----+------+---+------+-----+
| ID| LEVEL|LANG|TWEETS|PHD|SALARY| HIRE|
+---+------+----+------+---+------+-----+
|  1|Senior|Java|    No| No| 145.0|false|
+---+------+----+------+---+------+-----+
only showing top 1 row

In [6]:
applications_dataframe.head(1)

[Row(ID=1, LEVEL=u'Senior', LANG=u'Java', TWEETS=u'No', PHD=u'No', SALARY=145.0, HIRE=False)]

In [7]:
applications_dataframe.show(5)

+---+------+------+------+---+------+-----+
| ID| LEVEL|  LANG|TWEETS|PHD|SALARY| HIRE|
+---+------+------+------+---+------+-----+
|  1|Senior|  Java|    No| No| 145.0|false|
|  2|Senior|  Java|    No|Yes| 135.0|false|
|  3|   Mid|Python|    No| No| 110.0| true|
|  4|Junior|Python|    No| No|  85.0| true|
|  5|Junior|     R|   Yes| No|  95.0| true|
+---+------+------+------+---+------+-----+
only showing top 5 rows

In [8]:
applications_dataframe.show()

+---+------+------+------+---+------+-----+
| ID| LEVEL|  LANG|TWEETS|PHD|SALARY| HIRE|
+---+------+------+------+---+------+-----+
|  1|Senior|  Java|    No| No| 145.0|false|
|  2|Senior|  Java|    No|Yes| 135.0|false|
|  3|   Mid|Python|    No| No| 110.0| true|
|  4|Junior|Python|    No| No|  85.0| true|
|  5|Junior|     R|   Yes| No|  95.0| true|
|  6|Junior|     R|   Yes|Yes|  65.0|false|
|  7|   Mid|     R|   Yes|Yes|  95.0| true|
|  8|Senior|Python|    No| No| 120.0|false|
|  9|Senior|     R|   Yes| No| 135.0| true|
| 10|Junior|Python|   Yes| No|  70.0| true|
| 11|Senior|Python|   Yes|Yes| 115.0| true|
| 12|   Mid|Python|    No|Yes| 105.0| true|
+---+------+------+------+---+------+-----+

In [9]:
applications_dataframe.count()

12

In [10]:
applications_dataframe.select('SALARY').distinct().count()

10

In [11]:
applications_dataframe.select('SALARY').distinct().show()

+------+
|SALARY|
+------+
| 105.0|
|  65.0|
| 115.0|
| 145.0|
| 110.0|
|  85.0|
|  95.0|
| 120.0|
|  70.0|
| 135.0|
+------+

In [12]:
applications_dataframe.select('SALARY','LANG').groupby('LANG').agg(F.max(applications_dataframe.SALARY).alias('max_salary')).show()

+------+----------+
|  LANG|max_salary|
+------+----------+
|     R|     135.0|
|Python|     120.0|
|  Java|     145.0|
+------+----------+

In [13]:
applications_dataframe.filter(applications_dataframe.LEVEL=='Senior').show()

+---+------+------+------+---+------+-----+
| ID| LEVEL|  LANG|TWEETS|PHD|SALARY| HIRE|
+---+------+------+------+---+------+-----+
|  1|Senior|  Java|    No| No| 145.0|false|
|  2|Senior|  Java|    No|Yes| 135.0|false|
|  8|Senior|Python|    No| No| 120.0|false|
|  9|Senior|     R|   Yes| No| 135.0| true|
| 11|Senior|Python|   Yes|Yes| 115.0| true|
+---+------+------+------+---+------+-----+

In [14]:
applications_dataframe.where((applications_dataframe.LANG=='Python')&(applications_dataframe.HIRE)).show()

+---+------+------+------+---+------+----+
| ID| LEVEL|  LANG|TWEETS|PHD|SALARY|HIRE|
+---+------+------+------+---+------+----+
|  3|   Mid|Python|    No| No| 110.0|true|
|  4|Junior|Python|    No| No|  85.0|true|
| 10|Junior|Python|   Yes| No|  70.0|true|
| 11|Senior|Python|   Yes|Yes| 115.0|true|
| 12|   Mid|Python|    No|Yes| 105.0|true|
+---+------+------+------+---+------+----+

In [15]:
applications_dataframe.where(applications_dataframe.LANG=='R').count()

4

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [16]:
crunchbase_path='crunchbase.csv'
crunchbase_df=sqlContext.read.format('com.databricks.spark.csv').options(header='true',inferschema='true',treatEmptyValuesAsNulls='true').load(crunchbase_path)

In [17]:
crunchbase_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- homepage_url: string (nullable = true)
 |-- market: string (nullable = true)
 |-- funding_total_usd: long (nullable = true)
 |-- status: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- funding_rounds: integer (nullable = true)
 |-- founded_year: integer (nullable = true)

In [18]:
crunchbase_df.show(15) #.head(15) also works

+--------------------+--------------------+--------------------+-----------------+---------+------------+----------+--------------------+-----------------+--------------+------------+
|                name|        homepage_url|              market|funding_total_usd|   status|country_code|state_code|              region|             city|funding_rounds|founded_year|
+--------------------+--------------------+--------------------+-----------------+---------+------------+----------+--------------------+-----------------+--------------+------------+
|  &TV Communications|http://enjoyandtv...|               Games|          4000000|operating|         USA|        CA|         Los Angeles|      Los Angeles|             2|        null|
|  -R- Ranch and Mine|                null|             Tourism|            60000|operating|         USA|        TX|              Dallas|       Fort Worth|             2|        2014|
|       .Club Domains|    http://nic.club/|            Software|          7000000|     null|         USA|        FL|      Ft. Lauderdale|     Oakland Park|             1|        2011|
|    004 Technologies|http://004gmbh.de...|            Software|                0|operating|         USA|        IL|Springfield Illinois|        Champaign|             1|        2010|
|             1-4 All|                null|            Software|                0|operating|         USA|        NC|          NC - Other|Connellys Springs|             1|        null|
|       1-800-DENTIST|http://www.1800de...| Health and Wellness|                0|operating|         USA|        CA|         Los Angeles|      Los Angeles|             1|        1986|
|       1-800-DOCTORS|http://1800doctor...| Health and Wellness|          1750000|operating|         USA|        NJ|              Newark|           Iselin|             1|        1984|
|    1.618 Technology|                null|         Real Estate|                0|operating|         USA|        FL|             Orlando|          Orlando|             1|        2013|
|University of Mar...|      http://umd.edu|           Education|        750500000|operating|         USA|        MD|     Washington D.C.|     College Park|             2|        null|
|         10-20 Media|http://www.10-20m...|          E-Commerce|          2050000|operating|         USA|        MD|           Baltimore|         Woodbine|             4|        2001|
|          1000 Corks|http://1000corks.com|              Search|            40000|operating|         USA|        OR|     Portland Oregon|      Lake Oswego|             1|        2008|
|        1000memories|http://1000memori...|         Curated Web|          2535000| acquired|         USA|        CA|         SF Bay Area|    San Francisco|             2|        2010|
|     1000museums.com|http://www.1000mu...|         Curated Web|          4962651|operating|         USA|        WA|             Seattle|         Bellevue|             6|        2008|
|           100health|http://www.redoxe...|Health Care Infor...|           420000|operating|         USA|        WI|             Madison|          Madison|             1|        2014|
|             100Plus|http://www.100plu...|           Analytics|          1250000| acquired|         USA|        CA|         SF Bay Area|    San Francisco|             2|        2011|
+--------------------+--------------------+--------------------+-----------------+---------+------------+----------+--------------------+-----------------+--------------+------------+
only showing top 15 rows

In [19]:
crunchbase_df.count()

28766

In [20]:
for col in crunchbase_df.columns:
    print col

name
homepage_url
market
funding_total_usd
status
country_code
state_code
region
city
funding_rounds
founded_year

In [21]:
print len(crunchbase_df.columns)

11

In [22]:
crunchbase_df.describe().show()

+-------+--------------------+------------------+------------------+
|summary|   funding_total_usd|    funding_rounds|      founded_year|
+-------+--------------------+------------------+------------------+
|  count|               28766|             28766|             23614|
|   mean|1.6170509541924493E7|1.8867065285406384|2006.7869060726687|
| stddev| 1.937159916449309E8|1.4814195016404221| 8.021103827340228|
|    min|                   0|                 1|              1902|
|    max|         30079503000|                18|              2014|
+-------+--------------------+------------------+------------------+

In [23]:
crunchbase_df.where(crunchbase_df.state_code=='OH').count()

532

In [24]:
crunchbase_df.where((crunchbase_df.city=='Cleveland')|(crunchbase_df.region=='Cleveland')).count()

183

In [25]:
crunchbase_df.where(crunchbase_df.status=='operating').count()

23961

In [26]:
crunchbase_df.where(crunchbase_df.funding_rounds>1).count()

11881

In [27]:
crunchbase_df.orderBy('funding_total_usd',ascending=False).head(10)

[Row(name=u'Verizon Communications', homepage_url=u'http://www.verizon.com/?lid=//global//residential', market=u'Mobile', funding_total_usd=30079503000, status=u'operating', country_code=u'USA', state_code=u'NY', region=u'New York City', city=u'New York', funding_rounds=5, founded_year=1983),
 Row(name=u'Clearwire', homepage_url=u'http://www.clearwire.com', market=u'Internet', funding_total_usd=5700000000, status=u'acquired', country_code=u'USA', state_code=u'WA', region=u'Seattle', city=u'Kirkland', funding_rounds=4, founded_year=2003),
 Row(name=u'Charter Communications', homepage_url=u'http://www.charter.com', market=None, funding_total_usd=5162513431, status=u'operating', country_code=u'USA', state_code=u'CT', region=u'Hartford', city=u'Stamford', funding_rounds=2, founded_year=1993),
 Row(name=u'First Data Corporation', homepage_url=u'http://www.firstdata.com', market=u'Trading', funding_total_usd=3500000000, status=u'operating', country_code=u'USA', state_code=u'GA', region=u'Atlanta', city=u'Atlanta', funding_rounds=1, founded_year=1971),
 Row(name=u'sigmacare', homepage_url=u'http://sigmacare.com', market=u'Health and Wellness', funding_total_usd=2600000000, status=u'operating', country_code=u'USA', state_code=u'NY', region=u'New York City', city=u'New York', funding_rounds=1, founded_year=2005),
 Row(name=u'Facebook', homepage_url=u'http://facebook.com', market=u'Communities', funding_total_usd=2425700000, status=u'operating', country_code=u'USA', state_code=u'CA', region=u'SF Bay Area', city=u'Menlo Park', funding_rounds=11, founded_year=2004),
 Row(name=u'Carestream', homepage_url=u'http://www.carestream.com', market=u'Biotechnology', funding_total_usd=2400000000, status=u'operating', country_code=u'USA', state_code=u'NY', region=u'Rochester New York', city=u'Rochester', funding_rounds=1, founded_year=2007),
 Row(name=u'Zebra Technologies', homepage_url=u'http://www.zebra.com', market=u'Enterprise Software', funding_total_usd=2000000000, status=u'operating', country_code=u'USA', state_code=u'IL', region=u'Chicago', city=u'Lincolnshire', funding_rounds=1, founded_year=1991),
 Row(name=u'Quad/Graphics', homepage_url=u'http://www.qg.com', market=u'Local Businesses', funding_total_usd=1900000000, status=u'operating', country_code=u'USA', state_code=u'WI', region=u'Milwaukee', city=u'Sussex', funding_rounds=1, founded_year=1971),
 Row(name=u'Solyndra', homepage_url=u'http://www.solyndra.com', market=u'Manufacturing', funding_total_usd=1567504319, status=u'closed', country_code=u'USA', state_code=u'CA', region=u'SF Bay Area', city=u'Fremont', funding_rounds=8, founded_year=2005)]

In [28]:
crunchbase_df.filter(crunchbase_df.status!='null').groupBy('status').count().orderBy('count',ascending=False).show()

+---------+-----+
|   status|count|
+---------+-----+
|operating|23961|
| acquired| 2784|
|   closed| 1463|
+---------+-----+

In [29]:
crunchbase_df.filter(crunchbase_df.market!='null').groupBy('market').count().orderBy('count',ascending=False).show(25)

+-------------------+-----+
|             market|count|
+-------------------+-----+
|           Software| 2961|
|      Biotechnology| 2716|
|             Mobile| 1032|
|        Curated Web|  941|
|        Health Care|  915|
|Enterprise Software|  859|
|         E-Commerce|  756|
|Health and Wellness|  731|
|   Clean Technology|  710|
|Hardware + Software|  697|
|        Advertising|  612|
|              Games|  567|
|          Education|  502|
|            Finance|  485|
|      Manufacturing|  442|
|          Analytics|  413|
|       Social Media|  402|
|           Security|  333|
|         Consulting|  320|
|     Semiconductors|  314|
|        Hospitality|  313|
|        Web Hosting|  279|
|        Real Estate|  268|
|               News|  218|
|            Medical|  214|
+-------------------+-----+
only showing top 25 rows

In [30]:
crunchbase_df.groupBy('state_code').count().orderBy('count',ascending=False).show(10)

+----------+-----+
|state_code|count|
+----------+-----+
|        CA| 9917|
|        NY| 2913|
|        MA| 1969|
|        TX| 1466|
|        WA|  974|
|        FL|  963|
|        IL|  827|
|        PA|  792|
|        CO|  723|
|        NJ|  579|
+----------+-----+
only showing top 10 rows

In [31]:
crunchbase_df.groupBy('city').count().orderBy('count',ascending=False).show(10)

+-------------+-----+
|         city|count|
+-------------+-----+
|San Francisco| 2615|
|     New York| 2333|
|    Palo Alto|  597|
|       Austin|  583|
|      Seattle|  554|
|      Chicago|  513|
|  Los Angeles|  507|
|Mountain View|  497|
|    San Diego|  483|
|       Boston|  460|
+-------------+-----+
only showing top 10 rows

In [32]:
#Just checked, none are cleveland with lowercase c
crunchbase_df.filter((crunchbase_df.region=='Cleveland')&(crunchbase_df.market!='null')).groupBy('market').count().orderBy('count',ascending=False).show(10)

+-------------------+-----+
|             market|count|
+-------------------+-----+
|      Biotechnology|   21|
|           Software|   14|
|        Health Care|    9|
|Health and Wellness|    7|
|        Curated Web|    6|
|Hardware + Software|    6|
|          Education|    6|
|   Clean Technology|    4|
|               SaaS|    3|
|          Analytics|    3|
+-------------------+-----+
only showing top 10 rows

In [33]:
crunchbase_df.filter((crunchbase_df.status=='operating')|(crunchbase_df.status=='acquired')).orderBy('funding_total_usd',ascending=False).show(10)

+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+------------------+-------------+--------------+------------+
|                name|        homepage_url|             market|funding_total_usd|   status|country_code|state_code|            region|         city|funding_rounds|founded_year|
+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+------------------+-------------+--------------+------------+
|Verizon Communica...|http://www.verizo...|             Mobile|      30079503000|operating|         USA|        NY|     New York City|     New York|             5|        1983|
|           Clearwire|http://www.clearw...|           Internet|       5700000000| acquired|         USA|        WA|           Seattle|     Kirkland|             4|        2003|
|Charter Communica...|http://www.charte...|               null|       5162513431|operating|         USA|        CT|          Hartford|     Stamford|             2|        1993|
|First Data Corpor...|http://www.firstd...|            Trading|       3500000000|operating|         USA|        GA|           Atlanta|      Atlanta|             1|        1971|
|           sigmacare|http://sigmacare.com|Health and Wellness|       2600000000|operating|         USA|        NY|     New York City|     New York|             1|        2005|
|            Facebook| http://facebook.com|        Communities|       2425700000|operating|         USA|        CA|       SF Bay Area|   Menlo Park|            11|        2004|
|          Carestream|http://www.carest...|      Biotechnology|       2400000000|operating|         USA|        NY|Rochester New York|    Rochester|             1|        2007|
|  Zebra Technologies|http://www.zebra.com|Enterprise Software|       2000000000|operating|         USA|        IL|           Chicago| Lincolnshire|             1|        1991|
|       Quad/Graphics|   http://www.qg.com|   Local Businesses|       1900000000|operating|         USA|        WI|         Milwaukee|       Sussex|             1|        1971|
|                Uber| http://www.uber.com|     Transportation|       1507450000|operating|         USA|        CA|       SF Bay Area|San Francisco|             6|        2009|
+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+------------------+-------------+--------------+------------+
only showing top 10 rows

In [34]:
crunchbase_df.filter((crunchbase_df.status=='operating')&(crunchbase_df.founded_year<2000)&(crunchbase_df.founded_year>0)).orderBy('founded_year').show(10)

+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+--------------------+-----------+--------------+------------+
|                name|        homepage_url|             market|funding_total_usd|   status|country_code|state_code|              region|       city|funding_rounds|founded_year|
+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+--------------------+-----------+--------------+------------+
|             Ziegler|http://www.ziegle...| Financial Services|         21675000|operating|         USA|        IL|             Chicago|    Chicago|             2|        1902|
|Loma Linda Univer...| http://www.llu.edu/|               null|           600000|operating|         USA|        CA|Ontario - Inland ...| Loma Linda|             1|        1905|
|     Owensboro Grain|http://www.owensb...|      Manufacturing|         10000000|operating|         USA|        KY|          KY - Other|  Owensboro|             1|        1906|
|CES Acquisition Corp|http://www.calver...|               null|          6000000|operating|         USA|        MD|           Baltimore|Hunt Valley|             2|        1906|
|               Xerox|http://www.xerox.com|Hardware + Software|       1100000000|operating|         USA|        AL|          AL - Other|     Normal|             1|        1906|
|Justrite Manufact...|http://www.justri...|               null|         14800000|operating|         USA|        IL|Springfield Illinois|    Mattoon|             1|        1906|
|Liberator Medical...|http://liberatorm...|Health and Wellness|          7000000|operating|         USA|        FL|Florida's Treasur...|     Stuart|             1|        1906|
|       Since1910.com|http://www.since1...|            Jewelry|           100000|operating|         USA|        NY|         Long Island|Garden City|             1|        1910|
|University of Ten...|http://www.uthsc....|               null|          1800000|operating|         USA|        TN|             Memphis|    Memphis|             1|        1911|
|Northcentral Tech...|      http://ntc.edu|          Education|          6200000|operating|         USA|        WI|          WI - Other|     Antigo|             1|        1912|
+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+--------------------+-----------+--------------+------------+
only showing top 10 rows

In [35]:
crunchbase_df.filter((crunchbase_df.status=='operating')&(crunchbase_df.founded_year<2000)&(crunchbase_df.funding_rounds==1)&(crunchbase_df.founded_year>0)).orderBy('founded_year').show(10)

+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+--------------------+-----------+--------------+------------+
|                name|        homepage_url|             market|funding_total_usd|   status|country_code|state_code|              region|       city|funding_rounds|founded_year|
+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+--------------------+-----------+--------------+------------+
|Loma Linda Univer...| http://www.llu.edu/|               null|           600000|operating|         USA|        CA|Ontario - Inland ...| Loma Linda|             1|        1905|
|Liberator Medical...|http://liberatorm...|Health and Wellness|          7000000|operating|         USA|        FL|Florida's Treasur...|     Stuart|             1|        1906|
|Justrite Manufact...|http://www.justri...|               null|         14800000|operating|         USA|        IL|Springfield Illinois|    Mattoon|             1|        1906|
|     Owensboro Grain|http://www.owensb...|      Manufacturing|         10000000|operating|         USA|        KY|          KY - Other|  Owensboro|             1|        1906|
|               Xerox|http://www.xerox.com|Hardware + Software|       1100000000|operating|         USA|        AL|          AL - Other|     Normal|             1|        1906|
|       Since1910.com|http://www.since1...|            Jewelry|           100000|operating|         USA|        NY|         Long Island|Garden City|             1|        1910|
|University of Ten...|http://www.uthsc....|               null|          1800000|operating|         USA|        TN|             Memphis|    Memphis|             1|        1911|
|Northcentral Tech...|      http://ntc.edu|          Education|          6200000|operating|         USA|        WI|          WI - Other|     Antigo|             1|        1912|
|Arkansas Children...|http://archildren...|      Biotechnology|          3500000|operating|         USA|        AR|         Little Rock|Little Rock|             1|        1912|
|     Rice University|http://www.rice.edu/|               null|         11750000|operating|         USA|        TX|             Houston|    Houston|             1|        1912|
+--------------------+--------------------+-------------------+-----------------+---------+------------+----------+--------------------+-----------+--------------+------------+
only showing top 10 rows

In [36]:
crunchbase_df.filter(crunchbase_df.founded_year>0).groupBy('founded_year').count().orderBy('count',ascending=False).show(25)

+------------+-----+
|founded_year|count|
+------------+-----+
|        2011| 2884|
|        2012| 2826|
|        2010| 2295|
|        2013| 2058|
|        2009| 1902|
|        2008| 1512|
|        2007| 1509|
|        2006| 1211|
|        2005|  957|
|        2014|  793|
|        2004|  792|
|        2003|  626|
|        2000|  584|
|        1999|  551|
|        2002|  550|
|        2001|  499|
|        1998|  309|
|        1997|  237|
|        1996|  212|
|        1995|  164|
|        1994|  111|
|        1993|   81|
|        1992|   80|
|        1989|   63|
|        1990|   63|
+------------+-----+
only showing top 25 rows

In [37]:
crunchbase_df.where((crunchbase_df.founded_year >=2010)&(crunchbase_df.founded_year <=2014)\
                    &(crunchbase_df.market!='null')&(crunchbase_df.status=='operating')).groupBy('market').count().orderBy('count',ascending=False).show(25)

+-------------------+-----+
|             market|count|
+-------------------+-----+
|           Software|  847|
|      Biotechnology|  478|
|             Mobile|  411|
|         E-Commerce|  324|
|        Curated Web|  275|
|          Education|  240|
|Health and Wellness|  237|
|Enterprise Software|  228|
|        Health Care|  204|
|            Finance|  184|
|        Advertising|  179|
|              Games|  174|
|          Analytics|  166|
|       Social Media|  165|
|        Hospitality|  157|
|Hardware + Software|  150|
|        Real Estate|  145|
|            Fashion|  125|
|         Consulting|  120|
|      Manufacturing|  115|
|            Medical|  105|
|               News|  103|
|      Entertainment|   97|
|   Clean Technology|   97|
|             Sports|   82|
+-------------------+-----+
only showing top 25 rows

In [38]:
crunchbase_df.where(crunchbase_df.market=='Manufacturing').groupBy('state_code').count().orderBy('count',ascending=False).show(10)

+----------+-----+
|state_code|count|
+----------+-----+
|        CA|  113|
|        TX|   36|
|        MA|   28|
|        FL|   19|
|        NY|   19|
|        PA|   18|
|        CO|   17|
|        NJ|   15|
|        UT|   14|
|        CT|   12|
+----------+-----+
only showing top 10 rows

In [39]:
manufacturing_cities = crunchbase_df.where(crunchbase_df.market=='Manufacturing').groupBy('city').count().orderBy('count',ascending=False).limit(10)
manufacturing_cities.show()

+-------------+-----+
|         city|count|
+-------------+-----+
|      Houston|   13|
|      Fremont|   12|
|    San Diego|    9|
|     San Jose|    8|
|       Austin|    8|
|      Boulder|    7|
|San Francisco|    7|
|     New York|    7|
|   Pittsburgh|    7|
|      Seattle|    5|
+-------------+-----+

In [40]:
#manufacturing_cities.write.save('manufacturing_cities.csv',format='csv')

In [41]:
manufacturing_cities_low = crunchbase_df.where(crunchbase_df.market=='Manufacturing').groupBy('city').count().orderBy('count').limit(10)
manufacturing_cities_low.show()

+----------------+-----+
|            city|count|
+----------------+-----+
|         Paducah|    1|
|        Rockport|    1|
|     Noblesville|    1|
|       Lafayette|    1|
|          Norman|    1|
|North Versailles|    1|
|        Stanhope|    1|
|      Pine Brook|    1|
|     Lake Linden|    1|
|     Springfield|    1|
+----------------+-----+

In [42]:
#manufacturing_cities_low.write.save('manufacturing_cities',format='csv',mode='append')

In [43]:
crunchbase_df.where((crunchbase_df.status=='operating')&(crunchbase_df.region=='Cleveland')&(crunchbase_df.market!='null'))\
.groupBy('market').count().orderBy('count',ascending=False).show(10)

+-------------------+-----+
|             market|count|
+-------------------+-----+
|      Biotechnology|   19|
|           Software|   13|
|        Health Care|    9|
|Health and Wellness|    6|
|          Education|    6|
|Hardware + Software|    5|
|        Curated Web|    5|
|   Clean Technology|    4|
|          Analytics|    3|
|        Real Estate|    3|
+-------------------+-----+
only showing top 10 rows

In [44]:
crunchbase_df.where((crunchbase_df.status=='operating')&(crunchbase_df.state_code=='NY')&(crunchbase_df.city!='New York City')&(crunchbase_df.market!='null'))\
.groupBy('market').count().orderBy('count',ascending=False).show(10)

+-------------------+-----+
|             market|count|
+-------------------+-----+
|           Software|  194|
|         E-Commerce|  116|
|        Curated Web|  111|
|      Biotechnology|  111|
|        Advertising|  107|
|             Mobile|   80|
|            Finance|   68|
|          Education|   56|
|            Fashion|   51|
|Health and Wellness|   49|
+-------------------+-----+
only showing top 10 rows

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [45]:
salaries_path = 'Salaries.csv'
salaries_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true',inferschema='true',treatEmptyValuesAsNulls='true').load(salaries_path).persist()

In [46]:
salaries_df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- BasePay: string (nullable = true)
 |-- OvertimePay: string (nullable = true)
 |-- OtherPay: string (nullable = true)
 |-- Benefits: string (nullable = true)
 |-- TotalPay: double (nullable = true)
 |-- TotalPayBenefits: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Notes: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Status: string (nullable = true)

In [47]:
columns = ['BasePay','OvertimePay','OtherPay','Benefits','TotalPay','TotalPayBenefits']
for col in columns:
    salaries_df=salaries_df.withColumn(col+'_new',salaries_df[col].cast('float')).drop(col).withColumnRenamed(col+'_new',col)

In [48]:
salaries_df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Notes: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- BasePay: float (nullable = true)
 |-- OvertimePay: float (nullable = true)
 |-- OtherPay: float (nullable = true)
 |-- Benefits: float (nullable = true)
 |-- TotalPay: float (nullable = true)
 |-- TotalPayBenefits: float (nullable = true)

In [49]:
salaries_count = salaries_df.filter(salaries_df.Status!='null').groupBy('Status').count()
salaries_count.withColumn('percent of total',100*salaries_count['count']/salaries_df.count()).drop('count').show()

+------+------------------+
|Status|  percent of total|
+------+------------------+
|    PT|10.618617729761729|
|    FT| 15.02415003968948|
+------+------------------+

In [50]:
salaries_df.groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|2011|36159|
|2012|36766|
|2013|37606|
|2014|38123|
+----+-----+

In [51]:
salaries_df.where(salaries_df.Year==2013).orderBy('TotalPayBenefits',ascending=False)\
.select(['EmployeeName','JobTitle','TotalPay','Benefits']).withColumn('Benefits?',salaries_df.Benefits>0).drop('Benefits').show(1)

+--------------+---------------+---------+---------+
|  EmployeeName|       JobTitle| TotalPay|Benefits?|
+--------------+---------------+---------+---------+
|Gregory P Suhr|Chief of Police|339282.06|     true|
+--------------+---------------+---------+---------+
only showing top 1 row

In [52]:
salaries_df.where(salaries_df.Year==2012).orderBy('Benefits',ascending=False)\
.select(['JobTitle','Benefits']).show(3)

+--------------------+--------+
|            JobTitle|Benefits|
+--------------------+--------+
|         Dept Head V|84681.82|
|Gen Mgr, Public T...|82001.94|
|         Dept Head V|81824.37|
+--------------------+--------+
only showing top 3 rows

In [53]:
salaries_df.where(salaries_df.BasePay>=40000).select(['JobTitle','BasePay']).groupBy('JobTitle')\
.agg((F.max('BasePay')-F.min('BasePay')).alias('range')).orderBy('range',ascending=False).show(1)

+-----------+---------+
|   JobTitle|    range|
+-----------+---------+
|Dept Head V|264873.12|
+-----------+---------+
only showing top 1 row

In [54]:
avg_2011 = salaries_df.where(salaries_df.Year==2011).select(['JobTitle','BasePay']).groupBy('JobTitle').agg((F.avg('BasePay')).alias('avg_Base_2011')).drop('BasePay').withColumnRenamed('JobTitle','JobTitleA')
avg_2014 = salaries_df.where(salaries_df.Year==2014).select(['JobTitle','BasePay']).groupBy('JobTitle').agg((F.avg('BasePay')).alias('avg_Base_2014')).drop('BasePay')
join = avg_2014.join(avg_2011,F.upper(avg_2011.JobTitleA)==F.upper(avg_2014.JobTitle),'inner').drop('JobTitleA')
join.withColumn('% increase',100*(join.avg_Base_2014-join.avg_Base_2011)/join.avg_Base_2011).orderBy('% increase',ascending=False).show(5)

+--------------------+-----------------+------------------+------------------+
|            JobTitle|    avg_Base_2014|     avg_Base_2011|        % increase|
+--------------------+-----------------+------------------+------------------+
|    Mayoral Staff XI| 73687.0771484375|  12196.7998046875| 504.1509111276708|
|Senior Transcribe...|   61950.83984375|    16642.03515625| 272.2551915201552|
|       Criminalist I|77066.97916666667|22181.673177083332|247.43537401987908|
|        Audiometrist|          36474.0| 10595.14013671875| 244.2521715554748|
|     Mayoral Staff V|    36777.0703125|  13223.7998046875| 178.1127274738647|
+--------------------+-----------------+------------------+------------------+
only showing top 5 rows

In [55]:
salaries_df.groupBy('Year').agg(F.max('TotalPay')).show()

+----+-------------+
|Year|max(TotalPay)|
+----+-------------+
|2011|    567595.44|
|2012|    362844.66|
|2013|     347102.3|
|2014|    471952.62|
+----+-------------+

In [56]:
salaries_df.where(salaries_df.Year==2012).groupBy('JobTitle').agg((F.avg('OtherPay')).alias('AvgOtherPay')).orderBy('AvgOtherPay',ascending=False).show(1)

+---------------+------------+
|       JobTitle| AvgOtherPay|
+---------------+------------+
|Sheriff (SFERS)|124080.65625|
+---------------+------------+
only showing top 1 row

In [57]:
#Doesn't look like there's overlap in cases, but not entirely sure
police = salaries_df.filter(F.lower(salaries_df.JobTitle).like('%police department%')).select('JobTitle').distinct()
police.show()

+--------------------+
|            JobTitle|
+--------------------+
|Sergeant, (Police...|
|INSPECTOR III, (P...|
|SERGEANT II (POLI...|
|INSPECTOR II, (PO...|
|CAPTAIN III (POLI...|
|ASSISTANT INSPECT...|
|ASSISTANT INSPECT...|
|Lieutenant (Polic...|
|SERGEANT III (POL...|
|LIEUTENANT I, (PO...|
|DEPUTY CHIEF III ...|
|COMMANDER III, (P...|
|LIEUTENANT III (P...|
|INSPECTOR, (POLIC...|
|SERGEANT I (POLIC...|
|Inspector, (Polic...|
|LIEUTENANT II (PO...|
|ASSISTANT INSPECT...|
+--------------------+

In [58]:
new_police = police.withColumnRenamed('JobTitle','JT')

In [59]:
from pyspark.sql.functions import udf

In [60]:
column_trans = udf(lambda column: '50-99k' if column <100000 else '100k-199k' if column < 200000  else '200k+', pyspark.sql.types.StringType())

In [61]:
salaries_df.where(salaries_df.Year==2011).join(new_police,F.lower(salaries_df.JobTitle)==F.lower(new_police.JT))\
.select(['JobTitle','TotalPayBenefits']).withColumn("PayRange",column_trans(salaries_df.TotalPayBenefits)).groupBy(['JobTitle','PayRange']).count().show()

+--------------------+---------+-----+
|            JobTitle| PayRange|count|
+--------------------+---------+-----+
|LIEUTENANT II (PO...|100k-199k|    1|
|INSPECTOR II, (PO...|100k-199k|    3|
|ASSISTANT INSPECT...|100k-199k|    1|
|ASSISTANT INSPECT...|100k-199k|    9|
|ASSISTANT INSPECT...|100k-199k|   10|
|COMMANDER III, (P...|100k-199k|    3|
|LIEUTENANT III (P...|100k-199k|   92|
|INSPECTOR III, (P...|    200k+|    7|
|CAPTAIN III (POLI...|   50-99k|    1|
|SERGEANT II (POLI...|100k-199k|   19|
|SERGEANT III (POL...|100k-199k|  287|
|COMMANDER III, (P...|    200k+|    4|
|LIEUTENANT III (P...|   50-99k|    1|
|SERGEANT I (POLIC...|    200k+|    1|
|CAPTAIN III (POLI...|    200k+|   17|
|SERGEANT III (POL...|   50-99k|    2|
|LIEUTENANT III (P...|    200k+|    5|
|SERGEANT III (POL...|    200k+|    6|
|DEPUTY CHIEF III ...|    200k+|    5|
|INSPECTOR, (POLIC...|100k-199k|    4|
+--------------------+---------+-----+
only showing top 20 rows

In [62]:
salaries_df.where(((salaries_df.Year==2012)|(salaries_df.Year==2014))&(F.lower(salaries_df.EmployeeName).like("%john%"))).count()

1648

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [63]:
schools_df=sqlContext.read.format('csv').options(header='true',inferschema='true').load('schools.csv')
cwur_df=sqlContext.read.format('csv').options(header='true',inferschema='true').load('cwurData.csv')
shanghai_df=sqlContext.read.format('csv').options(header='true',inferschema='true').load('shanghaiData.csv')
times_df=sqlContext.read.format('csv').options(header='true',inferschema='true').load('timesData.csv')

In [64]:
schools_df.printSchema()

root
 |-- school_name: string (nullable = true)
 |-- country: string (nullable = true)

In [65]:
cwur_df.printSchema()

root
 |-- world_rank: integer (nullable = true)
 |-- institution: string (nullable = true)
 |-- country: string (nullable = true)
 |-- national_rank: integer (nullable = true)
 |-- quality_of_education: integer (nullable = true)
 |-- alumni_employment: integer (nullable = true)
 |-- quality_of_faculty: integer (nullable = true)
 |-- publications: integer (nullable = true)
 |-- influence: integer (nullable = true)
 |-- citations: integer (nullable = true)
 |-- broad_impact: integer (nullable = true)
 |-- patents: integer (nullable = true)
 |-- score: double (nullable = true)
 |-- year: integer (nullable = true)

In [66]:
shanghai_df.printSchema()

root
 |-- world_rank: string (nullable = true)
 |-- university_name: string (nullable = true)
 |-- national_rank: string (nullable = true)
 |-- total_score: double (nullable = true)
 |-- alumni: double (nullable = true)
 |-- award: double (nullable = true)
 |-- hici: double (nullable = true)
 |-- ns: double (nullable = true)
 |-- pub: double (nullable = true)
 |-- pcp: double (nullable = true)
 |-- year: integer (nullable = true)

In [67]:
times_df.printSchema()

root
 |-- world_rank: string (nullable = true)
 |-- university_name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- teaching: double (nullable = true)
 |-- international: double (nullable = true)
 |-- research: double (nullable = true)
 |-- citations: double (nullable = true)
 |-- income: double (nullable = true)
 |-- total_score: double (nullable = true)
 |-- num_students: string (nullable = true)
 |-- student_staff_ratio: double (nullable = true)
 |-- international_students: string (nullable = true)
 |-- female_male_ratio: string (nullable = true)
 |-- year: integer (nullable = true)

In [68]:
print 'cwur: ', cwur_df[['institution']].distinct().count()
print 'shanghai: ', shanghai_df[['university_name']].distinct().count()
print 'times: ', times_df[['university_name']].distinct().count()

cwur:  1023
shanghai:  659
times:  819

In [69]:
cwur_df[['institution']].unionAll(shanghai_df[['university_name']].unionAll(times_df[['university_name']])).distinct().count()

1453

In [70]:
times_df = times_df.withColumnRenamed('total_score','total_score_t')
times_df = times_df.withColumnRenamed('university_name','name')
temp = shanghai_df[shanghai_df.year==2014]['university_name','total_score']\
      .join(times_df[times_df.year==2014]['name','total_score_t'],\
            shanghai_df.university_name==times_df.name)['university_name','total_score','total_score_t']
temp = cwur_df[cwur_df.year==2014][['institution','score']].join(temp,temp.university_name==cwur_df.institution)
temp = temp.withColumn('total',temp.score+temp.total_score+temp.total_score_t)
temp.orderBy('total',ascending=False).show(10)

+--------------------+-----+--------------------+-----------+-------------+------------------+
|         institution|score|     university_name|total_score|total_score_t|             total|
+--------------------+-----+--------------------+-----------+-------------+------------------+
|  Harvard University|100.0|  Harvard University|      100.0|         93.9|             293.9|
| Stanford University|99.09| Stanford University|       72.1|         93.8|            264.99|
|University of Cam...|97.64|University of Cam...|       69.2|         92.3|            259.14|
|University of Oxford|97.51|University of Oxford|       57.4|         93.9|            248.81|
| Columbia University|97.41| Columbia University|       59.6|         85.2|242.20999999999998|
|Princeton University|88.56|Princeton University|       60.7|         92.7|241.95999999999998|
|California Instit...| 85.5|California Instit...|       60.5|         94.9|             240.9|
|University of Chi...|92.03|University of Chi...|       57.4|         87.8|237.23000000000002|
|     Yale University|88.11|     Yale University|       55.2|         87.4|            230.71|
|University of Cal...|78.35|University of Cal...|       51.9|         86.3|            216.55|
+--------------------+-----+--------------------+-----------+-------------+------------------+
only showing top 10 rows

In [71]:
print cwur_df[cwur_df.year==2013][['institution']].count() - \
cwur_df[cwur_df.year==2013][['institution']].join(shanghai_df[shanghai_df.year==2013][['university_name']],cwur_df.institution==shanghai_df.university_name).count()

48

In [72]:
temp = shanghai_df[shanghai_df.year==2014][['university_name']].join(cwur_df[cwur_df.year==2014][['institution']],shanghai_df.university_name==cwur_df.institution)
print temp.count() - temp.join(times_df[times_df.year==2014][['name']],temp.institution==times_df.name).count()

133

In [73]:
temp = shanghai_df[shanghai_df.year==2012]['university_name','total_score']\
      .join(times_df[times_df.year==2012]['name','total_score_t'],\
            shanghai_df.university_name==times_df.name)['university_name','total_score','total_score_t']
temp = cwur_df[cwur_df.year==2012][['institution','score']].join(temp,temp.university_name==cwur_df.institution)
#Not sure of better way to do this
#This is slow but it works
temp1 = temp.withColumn('range',F.abs(temp.score-temp.total_score))
temp2 = temp.withColumn('range',F.abs(temp.total_score_t-temp.score))
temp3 = temp.withColumn('range',F.abs(temp.total_score-temp.total_score_t))
temp = temp1.unionAll(temp2.unionAll(temp3)).persist()
temp.groupBy('university_name').agg(F.max(temp.range).alias('score_range')).orderBy('score_range',ascending=False).show(10)

+--------------------+------------------+
|     university_name|       score_range|
+--------------------+------------------+
|Georgia Institute...|              77.0|
|    Emory University|              57.4|
|    Tufts University|              57.3|
|   Dartmouth College|              54.9|
|   Tohoku University|              50.8|
|Seoul National Un...|              50.1|
|University of Vir...|              49.0|
| Tel Aviv University|             48.76|
|Carnegie Mellon U...|47.800000000000004|
|   Nagoya University|             46.89|
+--------------------+------------------+
only showing top 10 rows

In [74]:
temp.groupBy('university_name').agg(F.max(temp.range).alias('score_range')).orderBy('score_range',ascending=True).show(10)

+--------------------+------------------+
|     university_name|       score_range|
+--------------------+------------------+
|  Harvard University| 6.099999999999994|
|  University of Oslo|             15.36|
|University of Cop...|15.899999999999999|
|University of Cal...|18.200000000000003|
|University of Mar...|19.799999999999997|
| Stanford University| 21.10000000000001|
|University of Geneva|21.299999999999997|
|University of Flo...|              22.1|
|University of Not...|22.200000000000003|
|University of Cam...| 22.60000000000001|
+--------------------+------------------+
only showing top 10 rows

In [75]:
column_len = udf(lambda column: len(column), pyspark.sql.types.StringType())

In [76]:
temp = cwur_df[['institution']].distinct()
temp.withColumn("length",column_len(temp.institution)).orderBy('length').show(10)

+---------------+------+
|    institution|length|
+---------------+------+
| Mie University|    14|
| Boston College|    14|
| Hunter College|    14|
| Ege University|    14|
|Rush University|    15|
|Rice University|    15|
|Inje University|    15|
|Yale University|    15|
|Saga University|    15|
|Toho University|    15|
+---------------+------+
only showing top 10 rows

In [77]:
shanghai_df[shanghai_df.total_score>0].groupBy('year').agg(F.avg('total_score').alias('avg_score')).orderBy('avg_score',ascending=False).show()

+----+------------------+
|year|         avg_score|
+----+------------------+
|2005|36.679000000000016|
|2013| 36.56122448979591|
|2008|            36.557|
|2011| 36.45841584158415|
|2010|             36.45|
|2006| 36.43168316831684|
|2012|              36.4|
|2007|36.330693069306946|
|2009| 36.31100000000001|
|2014|36.172000000000004|
|2015| 35.86999999999998|
+----+------------------+

In [78]:
temp1 = times_df.groupBy('name').agg(F.max('year').alias('max_year')).withColumnRenamed('name','name1')
temp2 = times_df.groupBy('name').agg(F.min('year').alias('min_year')).withColumnRenamed('name','name2')
times_year_max = times_df.join(temp1,(times_df.name==temp1.name1) &(times_df.year==temp1.max_year))[['name1','total_score_t']].withColumnRenamed('total_score_t','max_year_score_times')
times_year_min = times_df.join(temp2,(times_df.name==temp2.name2) &(times_df.year==temp2.min_year))[['name2','total_score_t']].withColumnRenamed('total_score_t','min_year_score_times')
times_year = times_year_max.join(times_year_min,times_year_max.name1==times_year_min.name2).drop('name2')
times_year = times_year.withColumn('times_var',100*(times_year.max_year_score_times - times_year.min_year_score_times)/times_year.min_year_score_times)


temp1 = cwur_df.groupBy('institution').agg(F.max('year').alias('max_year')).withColumnRenamed('institution','name1')
temp2 = cwur_df.groupBy('institution').agg(F.min('year').alias('min_year')).withColumnRenamed('institution','name2')
cwur_year_max = cwur_df.join(temp1,(cwur_df.institution==temp1.name1) &(cwur_df.year==temp1.max_year))[['name1','score']].withColumnRenamed('score','max_year_score_cwur')
cwur_year_min = cwur_df.join(temp2,(cwur_df.institution==temp2.name2) &(cwur_df.year==temp2.min_year))[['name2','score']].withColumnRenamed('score','min_year_score_cwur')
cwur_year = cwur_year_max.join(cwur_year_min,cwur_year_max.name1==cwur_year_min.name2).drop('name1')
cwur_year = cwur_year.withColumn('cwur_var',100*(cwur_year.max_year_score_cwur - cwur_year.min_year_score_cwur)/cwur_year.min_year_score_cwur)

years = times_year.join(cwur_year,times_year.name1==cwur_year.name2).drop('name2').withColumnRenamed('name1','university_name')

In [80]:
years.where(years.cwur_var*years.times_var<0)[['university_name','times_var','cwur_var']].show()

+--------------------+-------------------+--------------------+
|     university_name|          times_var|            cwur_var|
+--------------------+-------------------+--------------------+
|University of St ...| 6.9026548672566355| -0.5633802816901365|
|    Kyoto University| -7.275541795665628|   4.318734793187331|
|Maastricht Univer...|  44.33734939759036|-0.23349607302058892|
|   Aarhus University|  15.63126252505011|  -1.036475981662354|
|Delft University ...| 28.460038986354796|-0.36457216384302316|
|University of Cal...| -2.166476624857475|   20.07806401249024|
|University of Vienna| 16.059957173447536| -1.5696944328170783|
|University of Cal...|-3.7333333333333294|  2.8379674017257988|
|University of War...| 33.260869565217384|-0.17342293518318966|
|     Rice University|-13.452914798206287|  1.9893355209187837|
|University of Eas...| 7.9591836734693855| -0.6322214955308463|
|University of Mon...|  8.778625954198477| -2.1490259088170323|
|University Colleg...|-11.999999999999998| 0.04276245456488351|
|University of Cal...| -1.366120218579235|   5.514181587704015|
|     Yale University|-2.3463687150837926|   9.438968915845336|
|Joseph Fourier Un...|             -100.0|  0.3575936053849426|
|Arizona State Uni...|-1.1928429423459133|   11.88183807439825|
|University of Ams...| 35.599999999999994|-0.28016810086051747|
|    Emory University| -5.238095238095234|  14.031229382010121|
|University of Bir...|  8.494208494208506|  -1.576394502829414|
+--------------------+-------------------+--------------------+
only showing top 20 rows

In [83]:
temp = shanghai_df[shanghai_df.total_score>0].join(schools_df,shanghai_df.university_name==schools_df.school_name)
temp.groupBy('country').agg(F.avg(temp.total_score).alias('avg_score')).orderBy('avg_score',ascending=False).show(10)

+--------------------+------------------+
|             country|         avg_score|
+--------------------+------------------+
|      United Kingdom| 43.40333333333333|
|United States of ...| 41.92890025575447|
|              Canada| 32.69772727272727|
|               Japan| 30.72051282051282|
|             Denmark|29.847368421052632|
|         Netherlands|28.911111111111108|
|              Norway|28.481818181818184|
|              Sweden|  28.4054054054054|
|         Switzerland|28.040740740740745|
|             Finland|27.763636363636355|
+--------------------+------------------+
only showing top 10 rows

In [84]:
######################################################################################################################

In [85]:
######################################################################################################################

In [86]:
######################################################################################################################

In [87]:
end_df = sqlContext.read.format('csv').options(header='true',inferschema='true').load('end_song_sample.csv')
user_df = sqlContext.read.format('csv').options(header='true',inferschema='true').load('user_data_sample.csv')

In [88]:
end_df.printSchema()

root
 |-- ms_played: integer (nullable = true)
 |-- context: string (nullable = true)
 |-- track_id: string (nullable = true)
 |-- product: string (nullable = true)
 |-- end_timestamp: double (nullable = true)
 |-- user_id: string (nullable = true)

In [89]:
user_df.printSchema()

root
 |-- gender: string (nullable = true)
 |-- age_range: string (nullable = true)
 |-- country: string (nullable = true)
 |-- acct_age_weeks: integer (nullable = true)
 |-- user_id: string (nullable = true)

In [93]:
user_df = user_df.withColumnRenamed('user_id','usr_id')
join_song = end_df.join(user_df,end_df.user_id==user_df.usr_id).drop('usr_id').persist()

In [114]:
join_song.groupBy('gender').agg((F.sum(join_song.ms_played)/F.countDistinct(join_song.user_id)).alias('avg_total_listening_time'),\
                               (F.count(join_song.ms_played)/F.countDistinct(join_song.user_id)).alias('avg_total_songs')).show()

+-------+------------------------+------------------+
| gender|avg_total_listening_time|   avg_total_songs|
+-------+------------------------+------------------+
|unknown|    1.3795686807692308E7| 85.92307692307692|
| female|     1.827207549122807E7|142.36359649122807|
|   male|    1.7908570836312514E7| 138.8790921871862|
+-------+------------------------+------------------+

In [121]:
total_time = join_song.groupBy('user_id').agg((F.sum(join_song.ms_played)).alias('total_listening_time'))
temp_time = total_time.join(user_df,total_time.user_id==user_df.usr_id)
#Hate this no median in sql crap
#temp_time.groupBy(['gender','age_range']).agg((F.median('total_listening_time')).alias('median_total_listening_time')\
#                                              ,(F.avg('total_listening_time')).alias('avg_total_listening_time')).show()

TypeError: _() takes no arguments (2 given)

In [122]:
help(F.ntile)

Help on function ntile in module pyspark.sql.functions:

ntile(n)
    Window function: returns the ntile group id (from 1 to `n` inclusive)
    in an ordered window partition. For example, if `n` is 4, the first
    quarter of the rows will get value 1, the second quarter will get 2,
    the third quarter will get 3, and the last quarter will get 4.

    This is equivalent to the NTILE function in SQL.

    :param n: an integer

    .. versionadded:: 1.4